[tool.poetry]
name = "announcer"
version = "5.0.0"
description = "Announce changes in keepachangelog-style CHANGELOG.md files to Slack and Microsoft Teams"
authors = ["Max Dymond <max.dymond@metaswitch.com>"]
license = "MIT"
readme = "README.md"
keywords = ['slack', 'teams']

[tool.poetry.dependencies]
python = "^3.8.1"
requests = "^2.19"
mistletoe = "^1"

[tool.poetry.dev-dependencies]
pylint = "^2.13"
wheel = "^0.40.0"
mypy = "^1.5"
yamllint = "^1.28"
bandit = "^1.7"
pytest = "^7.4"
flake8 = "^6.0"
werkzeug = "^2.3.6"
pytest-httpserver = "^1.0.6"
tox = "^4"
pytest-cov = "^4.1"
types-requests = "^2.31.0"

[tool.poetry.scripts]
announce = "announcer.__init__:main"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
tox = "^4.5.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
