[tool.poetry]
name = "announcer"
version = "2.3.0"
description = "Announce changes in keepachangelog-style CHANGELOG.md files to Slack"
authors = ["Max Dymond <max.dymond@metaswitch.com>"]
license = "MIT"
readme = "README.md"
keywords = ['slack']

[tool.poetry.dependencies]
python = "^3.4"
requests = "^2.19"
mistletoe = "^0.7.1"
typing = "^3.6.4"

[tool.poetry.dev-dependencies]
pylint = "^2.3"
wheel = "^0.33.4"
mypy = "^0.720"
yamllint = "^1.16"
bandit = "^1.6"
pytest = "^4.6"
flake8 = "^3.7"
werkzeug = "^0.15.5"
pytest-httpserver = "^0.3.3"
tox = "^3.13"
pytest-cov = "^2.7"

[tool.poetry.scripts]
announce = "announcer.__init__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
